:root {
  --chakra: #006D5B;
  --gray100: #fafafa;
  --gray200: #dddcdc;
}
.header {
  position: fixed;
  height: 70px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 4px #0000009f;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
  height: 100%;
  padding: 0 10px;
}
.logo {
  text-decoration: none;
  color:  #000;
  font-style: italic;
  font-weight: 400;
}
.header .nav-menu a {
  color: #000;
  cursor: pointer;
}
.header .nav-menu {
  list-style-type: none;
  display: flex;
}
.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item .active {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--chakra);
  color: var(--chakra);
}
.header .nav-item a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }
  .header .navbar {
  max-width: 90%;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .header .navbar img {
    width: 150px;
  }
}
