:root {
  --chakra: #006D5B;
  --gray100: #fafafa;
  --gray200: #dddcdc;
}
#contact,
#footer {
  width: 100%;
  background-color: var(--gray200);
  padding: 1rem;
}
#menu {
  background-color: var(--gray100);
  box-shadow: 0 0 5px 1px #0000007c;
}

.btn {
  background-color: var(--chakra);
  outline: none;
  border: none;
}
.button {
  padding: 5px 15px;
  margin: -10px;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: transparent;
  border: 1px solid var(--chakra);
  color: var(--chakra) !important;
  transition: all 0.35s ease;
}
.button:hover {
  background-color: var(--chakra);
  color: #fff !important;
}
.btn:hover {
  background-color: transparent;
  color: var(--chakra);
  border: 1px solid var(--chakra);
}
.fa {
  color: var(--chakra);
  border: 1px solid var(--chakra);
  padding: 3px;
  border-radius: 2px;
}
.foot {
  color: var(--chakra);
}

/* Home Page */
#home {
  width: 100%;
  height: 650px;
}
#home .home-main {
  width: 100%;
  height: 700px;
  position: relative;
  margin: auto;
}
#home .home-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#home .home-img-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00000076, #000000a8);
}
.home-img-text {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.home-img-text h3{
  margin-bottom: 2rem;
}
.home-content__buttons{
  display: inline;
  flex-direction: column;
}
.btn--stroke{
  margin: 10px;
  border: 2px solid var(--chakra);
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  background: var(--chakra);
  color: #fff;
  border-radius: 10px;
}
.btn--stroke:hover{
  border: 2px solid var(--chakra);
  color: var(--chakra);
}
/* sub heaeding */
.head {
  width: 100%;
  text-align: center;
  color: var(--chakra);
  font-weight: bold;
  font-size: 2.7rem;
  margin: 0 0 3rem;
}
.sub-head {
  font-weight: bold;
  font-size: 2rem;
}

/* About */
#about {
  min-height: 400px;
  padding-top: 5.5rem;
  width: 80%;
  margin: auto;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding: 3rem;
}
.card img {
  width: 50%;
  max-height: 350px;
  object-fit: cover;
}
.card-text {
  font-style: italic;
  color: rgb(136, 136, 136);
}
.card-text2 {
  width: 50%;
  font-style: italic;
  color: rgb(136, 136, 136);
}
.link {
  color: var(--chakra) !important;
}

/* services */
#services {
  padding: 5rem;
}
#services .services-cards-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.service-card {
  max-width: 400px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.service-title {
  color: #727272;
  font-size: 1.3vmax;
  font-style: italic;
}


/* media query */
@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card img {
    width: 100%;
  }
  .home-img-text {
    font-size: 1.8rem;
    bottom: 4rem;
  }
}
@media (max-width: 750px) {
  #team .cards {
    justify-content: center;
  }
  #team,
  #services {
    padding: 5rem 1rem;
  }
  #services {
    width: 100%;
  }
  .services-cards-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 575px) {
  #about,
  #team,
  #services {
    width: 100%;
  }
  .service-title {
    color: #727272;
    font-size: 1rem;
  }
  .home-img-text {
    font-size: 1.6rem;
    bottom: 3rem;
  }
  .home-img-text {
  font-size: 1.5rem;
  width: 90%;
}
.home-img-text h3{
  margin-bottom: 2rem;
}
.home-content__buttons{
  display: inline;
  flex-direction: column;
}
.btn--stroke{
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
}

@media(max-width: 400px){
  .service-card {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-card img{
  width: 100%;
}
  .home-img-text {
  font-size: 1.2rem;
  width: 95%;
}
.home-img-text h3{
  margin-bottom: 1rem;
}
.home-content__buttons{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.btn--stroke{
  margin: 3px;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: transparent;
}
.btn--stroke{
  margin: 3px;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: transparent;
}
.home-img-text {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}