:root {
  --chakra: #3cc7be;
  --gray100: #fafafa;
  --gray200: #dddcdc;
}
#contact,
#footer {
  width: 100%;
  background-color: var(--gray200);
  padding: 1rem;
}
#menu {
  background-color: var(--gray100);
  box-shadow: 0 0 5px 1px #0000007c;
}
.navbar-brand {
  color: var(--chakra) !important;
  font-weight: bold;
  font-style: italic;
  font-weight: 700;
  font-size: 2.5rem;
}
.btn {
  background-color: var(--chakra);
  outline: none;
  border: none;
}
.button{
  padding: 5px 15px;
  margin: 10px 1rem;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: transparent;
  border: 1px solid var(--chakra);
  color: var(--chakra);
  transition: all .35s ease;
}
.button:hover{
  background-color: var(--chakra);
  color: #fff;

}
.btn:hover {
  background-color: transparent;
  color: var(--chakra);
  border: 1px solid var(--chakra);
}
.fa {
  color: var(--chakra);
  border: 1px solid var(--chakra);
  padding: 3px;
  border-radius: 2px;
}
.foot {
  color: var(--chakra);
}
.navbar-nav li a {
  color: #000 !important;
  border-bottom: 2px solid transparent;
}
.navbar-nav li a:hover {
  border-bottom: 2px solid var(--chakra);
  color: var(--chakra) !important;
}
.Home-img img {
  width: 100%;
  height: 720px;
  object-fit: cover;
  object-position: top;
}
.head {
  width: 100%;
  text-align: center;
  color: var(--chakra);
  font-weight: bold;
  font-size: 2.7rem;
  /* text-decoration: underline; */
  margin: 0 0 3rem;
}
.sub-head {
  font-weight: bold;
  font-size: 2rem;
}
/* About */
#about {
  min-height: 400px;
  padding-top: 5.5rem;
  width: 80%;
  margin: auto;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding: 3rem;
}
.card img {
  width: 50%;
  max-height: 350px;
  object-fit: cover;
}
.card-text {
  font-style: italic;
  color: rgb(136, 136, 136);
}
.card-text2 {
  width: 50%;
  font-style: italic;
  color: rgb(136, 136, 136);
}
.link {
  color: var(--chakra) !important;
}

/* Team */
#team {
  padding: 5rem;
  background-color: rgb(220, 220, 220);
}
.cards {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
#team .avatar img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
}
.team-card {
  width: 350px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: inset 5px 5px 8px 3px rgb(255, 255, 255),
    inset -5px -5px 8px 3px #7b7b7bab;
}
.team-card .team-card-head {
  font-size: 2rem;
  font-weight: bold;
  color: var(--chakra);
}
.card-body-text {
  color: rgb(63, 63, 63);
}

/* services */

#services {
  padding: 5rem;
}
#services .services-cards-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.service-card {
  max-width: 400px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.service-title {
  color: #727272;
  font-size: 1.3vmax;
  font-style: italic;
}
h3 {
  text-align: center;
  font-size: 1.7rem;
}

/* media query */
@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card img {
    width: 100%;
  }
}
@media (max-width: 750px) {
  #team .cards {
    justify-content: center;
  }
  #team,
  #services {
    padding: 5rem 1rem;
  }
  #services {
    width: 100%;
  }
  .services-cards-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .service-card {
    max-width: 400px;
    max-height: 200px !important;
  }
}

@media (max-width: 575px) {
  #about,
  #team,
  #services {
    width: 100%;
  }
  .service-title {
    color: #727272;
    font-size: 1.5rem;
  }
}
