@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    padding-top: 4rem ;
    width: 100vw;
    height: 100vh;
    background-color: #fff
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    width: 2rem;
    background: #ffffff28;
}
html::-webkit-scrollbar-thumb{
    background: var(--chakra);
    border-radius: 1rem;
}